{
  "extends": ["stylelint-config-standard"],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "class-name-format": 0,
    "no-css-comments": 0,
    "no-url-domains": 0,
    "no-url-protocols": 0
  },
  "ignoreFiles": ["build/**/*", "public/**/*", "node_modules"]
}
